@font-face {
  font-family: font1;
  src: url("../public/font/IBMPlexSansArabic-Light.ttf");
  font-weight: 400;
}

@font-face {
  font-family: font2;
  src: url("../public/font/IBMPlexSansArabic-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: font3;
  src: url("../public/font/IBMPlexSansArabic-Medium.ttf");
  font-weight: 600;
}
